body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('./assets/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
 
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
 
#home_logo {
  position: absolute;
  top: 20px;
  right: 20px;
}
 
#home_title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}
 
.content {
  text-align: center;
  color: white;
}
 
.button {
  background-color: #00A651;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor:  pointer;
  margin-top: 20px;
}
 
#concept_page, #lesson1_container, #lesson2_container, #lesson3_container, #lesson4_container, #courseEnd_page, #quiz_page, #quizEnd_page {
  display: none; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  background-image: url('../public/assets/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  text-align: center; /* Center text for all children */
}
 
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
 
#character_image {
  width: 200px; 
  margin-bottom: 20px; 
}
 
#concept_title {
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #00A651;
  transform: skew(-10deg); /* Skew text */
}
 
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Ensure the chat container takes full width */
}
 
.chat {
  background-color: #e0e0e0;
  color: #00A651;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  max-width: 300px;
  min-width: 180px;
  align-self: center; /* Center the chat bubble */
}
 
#next_button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}


#game-container {
  text-align: center;
  margin-top: 100px;
  display: none;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: black;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  cursor: pointer;
}

h1 {
  text-align: center;
}
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: none;
}

#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#continue-button {
  background-color: #00A651;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.course-button{
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  max-width: 300px;
  min-width: 180px;
}

.lesson {
  padding: 10px 10px;
  font-size: 16px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
  max-width: 500px;
  min-width: 300px;
}

.course-button:hover {
  display: block;
  margin: 10px auto;
}
.button:hover {
  background-color: #668766;
}

#quiz_page {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question-bubble {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
}

.quiz_question {
  font-size: 1.2em;
  margin-bottom: 20px;
  background-color: black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.quiz_answers {
  margin-bottom: 20px;
  text-align: left;
  color: black;
}

.quiz_answers label {
  display: block;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

.quiz_answers input[type="radio"] {
  margin-right: 10px;
}

#quiz_button {
  background-color: #4CAF50;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#quiz_button:hover {
  background-color: #668766;
}